@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="flex-w flex-l-m filter-tope-group m-tb-10 isotope-item">

	<a href=@Url.Action("Index","Home") class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " data-filter="">
		Bütün Kitaplar
	</a>

	<a href=@Url.Action("NewBook","Home") class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="">
		Yeni Kitaplar
	</a>

	<a href=@Url.Action("SecondVerseBook","Home") class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="">
		2.El Kitaplar
	</a>
</div>