

<div class="flex-w flex-sb-m p-b-52">
	<div class="flex-w flex-l-m filter-tope-group m-tb-10 isotope-item">

		<a href=@Url.Action("Index","User") class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 ">
			Kullanıcı Bilgilerim
		</a>

		<a href=@Url.Action("Index","Home") class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
			Adres Bilgilerim
		</a>

		<a href=@Url.Action("UserPassword","User") class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
			Şifre Güncelleme
		</a>

		<a href=@Url.Action("MyOrders","User") class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
			Siparişlerim
		</a>

		<a href=@Url.Action("Index","UserBookSales") class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
			2.El Kitap Sat
		</a>

			<a asp-controller="Login" asp-action="Logout" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
			Çıkış Yap
		    </a>

	</div>
</div>

