
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Şifre Güncelleme Sayfası</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Eski şifre</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Eski şifreyi giriniz.">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Yeni Şifre</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Yeni şifreyi giriniz">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Tekrar yeni Şifre</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Tekrar yeni şifreyi giriniz">
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info float-left">Güncelle</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
    